body{
  color: white;
  font-family: Montserrat;
  background: black;
  margin: 0;
}
#evade-info{
  color:black;
}
h1{
  font-size: 30px;
  text-align: right;
  margin-right: 10px;
  margin-top: 60px;
}
.navbar {
  overflow: hidden;
  background-color: black;
  font-family: Montserrat;
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  margin:0;
  user-select: none;
}

/* Links inside the navbar */
.navbara {
  float: left;
  font-size: 20px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0;
}

.navbar img {
  float: left;
  text-align: center;
  width: 48px;
  padding: 0;
  justify-content: center;
  vertical-align: middle;
  
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
/* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  margin-top: 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  text-decoration: underline #ff0035;
  text-underline-offset: 5.5px;
  color: white;
}

/* Dropdown content (hidden by default) */
.dropdown-content{
  display: none;
  position: fixed;
  background-color: black;
  min-width: 160px;
  z-index: 1;
  text-decoration: none;
  margin: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  transition-duration: 0.45s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  /*background: linear-gradient(90deg, #ff0035, #ff9621);*/
  background: #ff0035;
  text-decoration: none;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
navbar btn{
  margin: 0;
}

#joinus{
  float: right;
}
/*div{
  text-align: right;
  margin-right: 20px;
  margin-top:40px;
}*/
p{
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  margin-left: 20px;
  max-width: 500px;
  margin-top: 70px;
}
#buttons{
  text-align:center;
}
/* Dropdown Button */
.drpbtn {
  font-family: montserrat;
  background-color: #ffffff;
  color: black;
  padding: 30px;
  padding-left: auto;
  padding-right: auto;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 400px;
  font-weight: 600;
  margin: -50px;
  border-radius: 50px;
  margin-top: 20px;
}

/* Dropdown button on hover & focus */
.drpbtn:hover, .drpbtn:focus {
background: linear-gradient(90deg, #00ffa8, #2300ff);
  color:white;
}

/* The container <div> - needed to position the dropdown content */
.drpdown {
  display: inline-block;
  text-align:center;
}

/* Dropdown Content (Hidden by Default) */
.drpdown-content {
  display: none;
  position: absolute;
  text-align:left;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 40%;
  margin-top: 30px;
}

/* Links inside the dropdown */
.drpdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align:center;
  background:white;
  margin: 0;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.center{
  text-align: center;
  margin-bottom: 100px;
}